body {
    background-color: #EF7C87;
}

#app {
    background-color: #EA4B5B;
    text-align: center;
    color: #fff;
    height: 700px;
    width: 400px;
    margin-top: 135px;
    padding: 0.25rem;
    border-radius: 5px;
    box-shadow: 18px 18px 34px 1px rgba(0, 0, 0, 0.68);
}

#timer{
    margin-top: 75px;
}